body {
  /* background-image: linear-gradient(rgb(230, 148, 255), rgb(116, 78, 187)); */
  /* background-image: linear-gradient(rgb(255, 191, 72), rgb(236, 70, 70)); */
  background-image: linear-gradient(white, rgb(192, 192, 192));
  background-attachment: fixed;
  height: 100%;
}

/* body {
  background: linear-gradient(90deg, rgb(37, 11, 63), rgb(187, 114, 255));
} */