  /* background-image: linear-gradient(rgb(230, 148, 255), rgb(116, 78, 187)); */
  /* background-image: linear-gradient(rgb(239, 248, 255), rgb(153, 214, 255)); */
  /* background-image: linear-gradient(white, rgb(192, 192, 192));
  background-attachment: fixed;
  height: 100%; */

body {
  overflow: overlay;
}

li {
  font-family: 'Readex Pro', sans-serif;
}

body::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  border-radius: 1em;
}

.modal::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255, 255, 255, 0);
}

.modal::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  border-radius: 1em;
}